@use "variables" as *;
.country {
  padding: 1em;
  width: 30em;
  border: 1px solid transparent;
  border-radius: 1em;
  transition: 200ms;

  &:hover {
    border: 1px solid $border-color;
    box-shadow: 0 0 0.8em 0.3em $shadow-color;
  }
}

.img {
  max-width: 100%;
  border: 1px solid $border-color;
}
