@use "variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  max-width: 100%;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: $bg-color;
}

header {
  place-items: center;
  margin: 1.5em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

footer {
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100vw;
  background-color: $footer-bg-color;
  z-index: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  color: $primary-text-color;
}

h3 {
  font-size: 1.2rem;
  color: $footer-primary-text-color;
}

button {
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: inherit;
  color: $secondary-text-color;
  transition: 200ms;

  &:hover {
    color: $link-hover-color;
  }
}

p {
  color: $primary-text-color;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
