$bg-color: rgb(255, 255, 255);
$primary-text-color: rgb(0, 0, 0);
$secondary-text-color: rgb(206, 206, 206);

$footer-bg-color: rgb(29, 29, 29);
$footer-primary-text-color: rgb(255, 255, 255);
$footer-secondary-text-color: rgb(163, 163, 163);

$link-hover-color: rgb(170, 197, 243);
