@use "variables" as *;

.switchButton {
  position: absolute;
  right: 5%;
  top: 7em;

  display: flex;
  gap: 0.2em;
  align-items: center;
  justify-items: center;

  font-size: 1.1rem;

  color: $primary-text-color;
  background-color: $bg-color;

  transition: 200ms;

  &:hover {
    color: $primary-text-color-hover;
  }
}

.savedLanguage {
  vertical-align: middle;
}
